<div class="bg-code-background h-full flex justify-center place-items-center">
  <div class="flex flex-col w-3/4">
    <div class="flex xl:hidden justify-center p-10">
      <img src="images/myself-round.png">
    </div>
    <div class="flex bg-white/10 backdrop-blur-lg rounded-3xl">
      <div class="hidden xl:flex">
        <img src="images/myself.jpg" class="rounded-l-3xl object-cover">
      </div>
      <div class="p-5">
        <div class="text-4xl">
          Radek Šťasta
        </div>
        <div class="text-3xl">
          IT Specialist and Software Developer
        </div>
        <div class="text-2xl">
          Welcome to my personal website, a space dedicated to all my personal projects in various fields of software development and IT. Feel free to explore all sections of this site to find topics of interest, and do not hesitate to contact me either via the About page or through the links below.
        </div>
        <div class="flex">
          <svg class="h-8 w-8 text-red-500"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round">  <path d="M4 4h16c1.1 0 2 .9 2 2v12c0 1.1-.9 2-2 2H4c-1.1 0-2-.9-2-2V6c0-1.1.9-2 2-2z" />  <polyline points="22,6 12,13 2,6" /></svg>
          <svg class="h-8 w-8 text-red-500"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round">  <path d="M18 2h-3a5 5 0 0 0-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 0 1 1-1h3z" /></svg>
          <svg class="h-8 w-8 text-red-500"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round">  <path d="M16 8a6 6 0 0 1 6 6v7h-4v-7a2 2 0 0 0-2-2 2 2 0 0 0-2 2v7h-4v-7a6 6 0 0 1 6-6z" />  <rect x="2" y="9" width="4" height="12" />  <circle cx="4" cy="4" r="2" /></svg>
        </div>
      </div>
    </div>
  </div>
</div>
