<div
  class="bg-[url('/images/home.jpg')] bg-cover h-screen w-screen flex flex-col"
>
  <!-- Header Section -->
  <div class="h-12 flex items-center justify-center bg-gray-800 text-white">
    Header
  </div>

  <!-- Main Content Section -->
  <div class="flex items-center justify-center flex-grow">
    <!-- Card Section -->
    <div
      class="bg-gray-900/80 backdrop-blur-sm rounded-lg shadow-xl flex items-center w-3/4 max-w-6xl h-auto"
    >
      <!-- Photo Section -->
      <div class="w-1/4 hidden xl:block">
        <img src="/images/me.jpg" alt="Myself" class="rounded-l-lg" />
      </div>
      <!-- Description Section -->
      <div class="p-6 xl:w-3/4 text-gray-300">
        <h1 class="text-3xl font-bold mb-4 text-white">Mgr. Radek Šťasta</h1>
        <p class="mb-4">
          Welcome to my personal website! This site serves as a hub for all my
          development projects and a place to showcase my work and interests. I
          am passionate about web development, design, and modern trends in
          technology. Here, you will find information about my professional
          journey, including my CV, portfolio, and various projects I am
          currently working on.
        </p>
        <p>
          In addition to my technical work, I aim to share insights about my
          personal interests and hobbies. Whether it's exploring new
          technologies or learning about the latest trends in software
          development, this site is a reflection of my dedication to continuous
          learning and growth. Stay tuned as I continue to update this space
          with more content and resources!
        </p>
      </div>
    </div>
  </div>
</div>
