<!-- HEADER -->
<div
  #header
  class="h-16 sticky top-0 bg-gradient-to-r to-indigo-500 from-rose-500"
>
  <div class="grid grid-cols-3 size-full text-2xl text-white font-bold">
    <button
      tabindex="0"
      (click)="router.navigateByUrl('/')"
      (keydown.enter)="router.navigateByUrl('/')"
    >
      <img class="w-16 p-1" src="/img/myself-round.png" alt="Radek Šťasta" />
    </button>
    <div class="flex place-content-center">
      <div
        class="px-10 cursor-pointer h-full place-content-center"
        (mouseenter)="setArticlesDropdownVisibility(true)"
        (mouseleave)="setArticlesDropdownVisibility(false)"
      >
        {{ "articles-link" | translate | uppercase }}
      </div>
    </div>
    <div class="flex place-content-end items-center p-1 gap-2 text-gray-400">
      <button
        tabindex="0"
        class="cursor-pointer"
        [ngClass]="{ 'text-white': dataService.selectedLanguage === 'cz' }"
        (click)="dataService.selectedLanguage = 'cz'"
        (keydown.enter)="dataService.selectedLanguage = 'cz'"
      >
        cz
      </button>
      <button
        tabindex="0"
        class="cursor-pointer"
        [ngClass]="{ 'text-white': dataService.selectedLanguage === 'en' }"
        (click)="dataService.selectedLanguage = 'en'"
        (keydown.enter)="dataService.selectedLanguage = 'en'"
      >
        en
      </button>
    </div>
  </div>
</div>

@if (isArticleDropdownVisible) {
  <app-menu-dropdown
    (mouseenter)="setArticlesDropdownVisibility(true)"
    (mouseleave)="setArticlesDropdownVisibility(false)"
  ></app-menu-dropdown>
}

<!-- CONTENT -->
<div>
  <router-outlet />
</div>
