<!-- HEADER -->
<div
  #stickyHeader
  class="h-16 bg-white transition-transform fade-in sticky-top bg-gradient-to-r to-indigo-500 from-rose-500"
  [ngClass]="headerClasses"
>
  <div class="flex place-content-center items-center size-full">
    <div class="flex flex-row gap-8 text-2xl text-white font-bold">
      <a href="/">
        <div>DOMŮ</div>
      </a>
      <a href="/articles">
        <div>ČLÁNKY</div>
      </a>
    </div>
  </div>
</div>

<app-menu-dropdown></app-menu-dropdown>

<!-- CONTENT -->
<div>
  <router-outlet />
</div>
